Repository deltachat/deltachat-desktop, pull requests merged in 2025-05, with the labels that each got.

#5063 chore: meta: don't require CHANGELOG on refactor
  .github/mergeable.yml
Labels: meta

#5070 refactor: mark a var as readonly
  packages/target-electron/src/deltachat/webxdc.ts
Labels: refactor

#5062 tauri: refactor: avoid `window.clone()`, use `Arc`
  packages/target-tauri/src-tauri/src/help_window.rs
  packages/target-tauri/src-tauri/src/html_window/mod.rs
  packages/target-tauri/src-tauri/src/webxdc/commands_main_window.rs
Labels: refactor, Runtime: Tauri

#5066 tauri: fix: don't use `process::exit`, return instead
  packages/target-tauri/src-tauri/src/lib.rs
  packages/target-tauri/src-tauri/src/main.rs
Labels: technical debt, Runtime: Tauri

#4956 start with deeplinking and xdc filehandling on tauri
  .vscode/launch.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  packages/target-tauri/Development.md
  packages/target-tauri/RELEASE_SIGNING.md
  packages/target-tauri/bundle_resources/Entitlements.plist
  packages/target-tauri/bundle_resources/xdc.icns
  packages/target-tauri/crates/register-default-handler/Cargo.toml
  packages/target-tauri/crates/register-default-handler/src/lib.rs
  packages/target-tauri/crates/register-default-handler/src/mac.rs
  packages/target-tauri/runtime-tauri/runtime.ts
  packages/target-tauri/src-tauri/Cargo.toml
  packages/target-tauri/src-tauri/Info.plist
  packages/target-tauri/src-tauri/linux/desktop.template
  packages/target-tauri/src-tauri/linux/mime.xml
  packages/target-tauri/src-tauri/src/chat_background_image.rs
  packages/target-tauri/src-tauri/src/cli.rs
  packages/target-tauri/src-tauri/src/deeplink.rs
  packages/target-tauri/src-tauri/src/lib.rs
  packages/target-tauri/src-tauri/src/menus/html_window_menu.rs
  packages/target-tauri/src-tauri/src/menus/mod.rs
  packages/target-tauri/src-tauri/src/menus/webxdc_menu.rs
  packages/target-tauri/src-tauri/src/run_config.rs
  packages/target-tauri/src-tauri/src/state/app.rs
  packages/target-tauri/src-tauri/src/state/main_window_channels.rs
  packages/target-tauri/src-tauri/tauri.conf.json5
  packages/target-tauri/src-tauri/windows/hooks.nsi
  packages/target-tauri/src-tauri/windows/xdc.ico
Labels: Runtime: Tauri

#5072 chore: fix wrong changelog entry
  CHANGELOG.md
Labels: meta

#5071 feat: open contact on info message click
  CHANGELOG.md
  packages/frontend/src/components/message/Message.tsx
Labels: enhancement, catching up with other clients

#5068 fix: webxdc: same `selfAddr` on different webxdcs
  CHANGELOG.md
  packages/target-electron/src/deltachat/webxdc.ts
Labels: bug, webxdc, Runtime: Electron

#5069 refactor: move webxdc proto handler to top level
  packages/target-electron/src/deltachat/webxdc.ts
Labels: refactor, webxdc

#5077 tauri: fix: notification click on Windows
  packages/target-tauri/crates/user-notify/src/platform_impl/windows.rs
Labels: bug, Runtime: Tauri

#5081 tauri: refactor: fix erroneous "unknown deeplink" log
  packages/target-tauri/src-tauri/src/deeplink.rs
Labels: refactor, OS: Windows, Runtime: Tauri

#5079 tauri: fix: notification action parsing
  packages/target-tauri/crates/user-notify/src/platform_impl/windows.rs
Labels: bug, Runtime: Tauri

#5080 tauri: fix: deep-links not focusing main window
  packages/target-tauri/src-tauri/src/deeplink.rs
Labels: bug, Runtime: Tauri

#5037 fix: a11y: emoji & sticker picker: tabs layout
  CHANGELOG.md
  packages/frontend/src/components/EmojiPicker/index.tsx
  packages/frontend/src/components/ReactionsBar/ReactionsBar.tsx
  packages/frontend/src/components/composer/EmojiAndStickerPicker.tsx
Labels: accessibility

#5047 fix: ugly margins on some attachments
  CHANGELOG.md
  packages/frontend/scss/message/_message-attachment.scss
  packages/frontend/scss/message/_message.scss
  packages/frontend/src/components/attachment/messageAttachment.tsx
  packages/frontend/src/components/message/Message.tsx
Labels: bug

#5051 improvement: a11y: `aria-live` for reactions
  CHANGELOG.md
  packages/frontend/src/components/message/Message.tsx
Labels: accessibility

#5056 refactor: simplify `DeltaInput`: less JS more CSS
  packages/frontend/scss/login/_login.scss
  packages/frontend/src/components/Login-Styles.tsx
Labels: refactor

#5076 improvement: a11y: don't announce "Chat" tab label
  CHANGELOG.md
  packages/frontend/src/components/NoChatSelected.tsx
  packages/frontend/src/components/message/MessageListAndComposer.tsx
Labels: accessibility

#5078 tauri: refactor: remove `mut`
  packages/target-tauri/src-tauri/src/notifications.rs
Labels: refactor, Runtime: Tauri

#4929 tauri notifications 2
  .vscode/settings.json
  CHANGELOG.md
  Cargo.lock
  packages/frontend/src/system-integration/notifications.ts
  packages/runtime/runtime.ts
  packages/shared/shared-types.d.ts
  packages/target-browser/runtime-browser/runtime.ts
  packages/target-electron/runtime-electron/runtime.ts
  packages/target-electron/src/notifications.ts
  packages/target-tauri/crates/user-notify/Cargo.toml
  packages/target-tauri/crates/user-notify/Readme.md
  packages/target-tauri/crates/user-notify/examples/test.rs
  packages/target-tauri/crates/user-notify/src/error.rs
  packages/target-tauri/crates/user-notify/src/lib.rs
  packages/target-tauri/crates/user-notify/src/notification.rs
  packages/target-tauri/crates/user-notify/src/platform_impl/mac_os/builder.rs
  packages/target-tauri/crates/user-notify/src/platform_impl/mac_os/delegate.rs
  packages/target-tauri/crates/user-notify/src/platform_impl/mac_os/handle.rs
  packages/target-tauri/crates/user-notify/src/platform_impl/mac_os/manager.rs
  packages/target-tauri/crates/user-notify/src/platform_impl/mac_os/mod.rs
  packages/target-tauri/crates/user-notify/src/platform_impl/mock.rs
  packages/target-tauri/crates/user-notify/src/platform_impl/mod.rs
  packages/target-tauri/crates/user-notify/src/platform_impl/windows.rs
  packages/target-tauri/crates/user-notify/src/platform_impl/xdg/category.rs
  packages/target-tauri/crates/user-notify/src/platform_impl/xdg/mod.rs
  packages/target-tauri/crates/user-notify/src/xdg_category.rs
  packages/target-tauri/crates/user-notify/test_example_macos.sh
  packages/target-tauri/runtime-tauri/runtime.ts
  packages/target-tauri/src-tauri/Cargo.toml
  packages/target-tauri/src-tauri/build.rs
  packages/target-tauri/src-tauri/capabilities/main-window.toml
  packages/target-tauri/src-tauri/src/deeplink.rs
  packages/target-tauri/src-tauri/src/lib.rs
  packages/target-tauri/src-tauri/src/notifications.rs
  packages/target-tauri/src-tauri/src/state/main_window_channels.rs
  packages/target-tauri/src-tauri/src/state/mod.rs
  packages/target-tauri/src-tauri/src/state/notification.rs
  packages/target-tauri/src-tauri/windows/hooks.nsi
Labels: Runtime: Tauri

#5113 fix: crash in "View Group" dialog on adding member
  CHANGELOG.md
  packages/frontend/src/components/dialogs/ViewGroup.tsx
Labels: bug

#5102 fix: better webxdc realtime channel send error msg
  packages/target-electron/static/webxdc-preload.js
Labels: webxdc

#5136 tauri: fix: ignore dcnotification: when not needed
  CHANGELOG.md
  packages/target-tauri/src-tauri/src/deeplink.rs
  packages/target-tauri/src-tauri/src/lib.rs
Labels: OS: Windows, Runtime: Tauri

#5127 refactor: add comments about `composer.focus()`
  packages/frontend/src/components/composer/ComposerMessageInput.tsx
  packages/frontend/src/components/message/MessageListAndComposer.tsx
Labels: refactor, accessibility

#5147 refactor: simplify `add/removeMembers`
  packages/frontend/src/components/dialogs/ViewGroup.tsx
Labels: refactor

#5148 fix: webxdc: leave realtime when closing app
  packages/target-electron/src/deltachat/webxdc.ts
Labels: refactor, webxdc

#5131 perf: remove unnecessary `updateBadgeCounter()`
  CHANGELOG.md
  packages/frontend/src/backend/chat.ts
Labels: performance

#5146 improvement: notify on msg in all non-curr chats
  CHANGELOG.md
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/global.d.ts
  packages/frontend/src/system-integration/notifications.ts
Labels: ui/ux, accessibility

#5134 tauri: hardening: sending msg on `dcnotification:`
  CHANGELOG.md
  packages/target-tauri/src-tauri/src/deeplink.rs
  packages/target-tauri/src-tauri/src/state/notification.rs
Labels: refactor, OS: Windows, Runtime: Tauri

#5157 tauri: fix: messagelist crashing due to `<audio>`
  packages/target-tauri/runtime-tauri/runtime.ts
Labels: bug, Runtime: Tauri

#5034 refactor: fix log error: `undefined.getStackTrace`
  packages/frontend/src/components/AccountListSidebar/AccountItem.tsx
  packages/frontend/src/components/screens/AccountDeletionScreen/AccountDeletionScreen.tsx
  packages/target-browser/src/index.ts
Labels: refactor

#5036 fix: translate "Sticker" and "Emoji"
  CHANGELOG.md
  packages/frontend/src/components/composer/EmojiAndStickerPicker.tsx
Labels: translations

#5163 tauri: fix: webxdc: apply initial zoom on window
  CHANGELOG.md
  packages/target-tauri/src-tauri/src/webxdc/commands_main_window.rs
Labels: bug, webxdc, Runtime: Tauri

#5065 tauri: fix: webxdc: sendUpdate() in visibilitychange
  CHANGELOG.md
  packages/target-tauri/src-tauri/src/webxdc/commands_main_window.rs
Labels: bug, webxdc, Runtime: Tauri
