Repository deltachat/deltachat-desktop, pull requests merged in 2025-03, with the labels that each got.

#4674 Saved messages
  CHANGELOG.md
  images/icons/bookmark-filled.svg
  packages/frontend/scss/message/_message.scss
  packages/frontend/scss/message/_metadata.scss
  packages/frontend/src/components/ShortcutMenu/index.tsx
  packages/frontend/src/components/ShortcutMenu/styles.module.scss
  packages/frontend/src/components/message/Message.tsx
  packages/frontend/src/components/message/MessageMetaData.tsx
  packages/frontend/themes/_themebase.scss
  packages/frontend/themes/dev_minimal.scss
  packages/frontend/themes/dev_rocket.scss
Labels: new DC feature

#4728 fix: unclosable webxdc apps (`beforeunload`)
  CHANGELOG.md
  _locales/_untranslated_en.json
  packages/target-electron/src/deltachat/webxdc.ts
Labels: webxdc, Runtime: Electron

#4719 tauri: fix: drag regions in navbar
  CHANGELOG.md
  packages/frontend/src/components/screens/MainScreen/MainScreen.tsx
Labels: Runtime: Tauri

#4699 Tauri: HTML Email View
  .zed/settings.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  packages/target-electron/runtime-electron/runtime.ts
  packages/target-tauri/package.json
  packages/target-tauri/runtime-tauri/runtime.ts
  packages/target-tauri/src-tauri/Cargo.toml
  packages/target-tauri/src-tauri/src/blobs.rs
  packages/target-tauri/src-tauri/src/html_window/commands.rs
  packages/target-tauri/src-tauri/src/html_window/email_scheme.rs
  packages/target-tauri/src-tauri/src/html_window/error.rs
  packages/target-tauri/src-tauri/src/html_window/mod.rs
  packages/target-tauri/src-tauri/src/html_window/punycode.rs
  packages/target-tauri/src-tauri/src/lib.rs
  packages/target-tauri/src-tauri/src/settings.rs
  packages/target-tauri/src-tauri/src/state/html_email_instances.rs
  packages/target-tauri/src-tauri/src/state/mod.rs
  packages/target-tauri/src-tauri/src/temp_file.rs
  packages/target-tauri/src-tauri/tauri.conf.json5
  packages/target-tauri/static/tauri_html_email_view/html_email_view.css
  packages/target-tauri/static/tauri_html_email_view/html_email_view.html
  packages/target-tauri/tauri-html-email-view/html_email_view.ts
  packages/target-tauri/tauri-html-email-view/tsconfig.json
  pnpm-lock.yaml
Labels: Runtime: Tauri

#4744 tauri: fix build and csp on windows
  packages/target-tauri/src-tauri/src/html_window/mod.rs
  packages/target-tauri/src-tauri/tauri.conf.json5
Labels: bug, Runtime: Tauri

#4747 tauri: secure CSP to only contain `.localhost` urls on windows and android where they are intercepted
  packages/target-tauri/src-tauri/src/lib.rs
  packages/target-tauri/src-tauri/src/util/csp.rs
  packages/target-tauri/src-tauri/src/util/mod.rs
  packages/target-tauri/src-tauri/tauri.conf.json5
Labels: Runtime: Tauri

#4759 tauri: fix: HTML viewer and help hanging on Win
  CHANGELOG.md
  packages/target-tauri/src-tauri/src/help_window.rs
  packages/target-tauri/src-tauri/src/html_window/mod.rs
Labels: bug, OS: Windows, Runtime: Tauri

#4746 tauri: fall back to base locale if dialect/variant was not found
  CHANGELOG.md
  packages/target-tauri/src-tauri/src/help_window.rs
  packages/target-tauri/src-tauri/src/i18n/commands.rs
  packages/target-tauri/src-tauri/src/i18n/errors.rs
  packages/target-tauri/src-tauri/src/i18n/mod.rs
  packages/target-tauri/src-tauri/src/lib.rs
  packages/target-tauri/src-tauri/src/menus/main_menu.rs
Labels: Runtime: Tauri

#4771 tauri: fix: broken SVG preview in composer
  CHANGELOG.md
  packages/target-tauri/src-tauri/src/blobs.rs
Labels: bug, Runtime: Tauri

#4767 tauri: fix: help window not having menu
  packages/target-tauri/src-tauri/src/help_window.rs
Labels: bug, Runtime: Tauri

#4769 tauri: fix: app picker not working (base64)
  CHANGELOG.md
  packages/target-tauri/src-tauri/src/temp_file.rs
Labels: bug, Runtime: Tauri

#4770 style: fix app picker clear search button hidden
  packages/frontend/src/components/AppPicker/styles.module.scss
  packages/frontend/src/components/SearchInput/styles.module.scss
Labels: bug

#4778 tauri fix openening files and urls
  CHANGELOG.md
  Cargo.lock
  packages/target-tauri/runtime-tauri/runtime.ts
  packages/target-tauri/src-tauri/Cargo.toml
  packages/target-tauri/src-tauri/capabilities/default.json
  packages/target-tauri/src-tauri/src/lib.rs
  packages/target-tauri/src-tauri/src/runtime_capabilities.rs
  packages/target-tauri/src-tauri/src/state/deltachat.rs
  packages/target-tauri/src-tauri/src/temp_file.rs
  packages/target-tauri/src-tauri/tauri.conf.json5
Labels: bug, Runtime: Tauri

#4788 tauri: fix html email window not working under linux/macos
  packages/target-tauri/src-tauri/src/html_window/mod.rs
Labels: bug, Runtime: Tauri

#4787 tauri: menu for html email window
  CHANGELOG.md
  packages/target-tauri/src-tauri/src/html_window/error.rs
  packages/target-tauri/src-tauri/src/html_window/mod.rs
  packages/target-tauri/src-tauri/src/lib.rs
  packages/target-tauri/src-tauri/src/menus/float_on_top.rs
  packages/target-tauri/src-tauri/src/menus/html_window_menu.rs
  packages/target-tauri/src-tauri/src/menus/main_menu.rs
  packages/target-tauri/src-tauri/src/menus/mod.rs
  packages/target-tauri/src-tauri/src/settings.rs
  packages/target-tauri/src-tauri/src/state/menu_manager.rs
Labels: Runtime: Tauri

#4790 backend translation function and using it in tauri src files
  CHANGELOG.md
  packages/target-tauri/src-tauri/src/help_window.rs
  packages/target-tauri/src-tauri/src/html_window/commands.rs
  packages/target-tauri/src-tauri/src/html_window/mod.rs
  packages/target-tauri/src-tauri/src/i18n/commands.rs
  packages/target-tauri/src-tauri/src/i18n/errors.rs
  packages/target-tauri/src-tauri/src/i18n/mod.rs
  packages/target-tauri/src-tauri/src/lib.rs
  packages/target-tauri/src-tauri/src/menus/help_menu.rs
  packages/target-tauri/src-tauri/src/menus/html_window_menu.rs
  packages/target-tauri/src-tauri/src/menus/main_menu.rs
  packages/target-tauri/src-tauri/src/settings.rs
  packages/target-tauri/src-tauri/src/state/menu_manager.rs
  packages/target-tauri/src-tauri/src/state/mod.rs
  packages/target-tauri/src-tauri/src/state/translations.rs
Labels: Runtime: Tauri

#4797 add option to reset encryption state for contact in encryption info dialog
  CHANGELOG.md
  _locales/_untranslated_en.json
  packages/frontend/src/components/dialogs/EncryptionInfo.tsx
Labels: enhancement

#4809 tauri: refactor: move capabilities to files
  packages/target-tauri/src-tauri/capabilities/html-email-viewer-header.toml
  packages/target-tauri/src-tauri/capabilities/main-window.toml
  packages/target-tauri/src-tauri/tauri.conf.json5
Labels: refactor, Runtime: Tauri

#4814 tauri: hardening: sanitize open_help_window inputs
  CHANGELOG.md
  packages/target-tauri/src-tauri/src/help_window.rs
Labels: Runtime: Tauri

#4810 tauri: perf: don't re-serialize JSON-RPC events
  CHANGELOG.md
  packages/target-tauri/runtime-tauri/runtime.ts
  packages/target-tauri/src-tauri/src/state/deltachat.rs
Labels: Runtime: Tauri

#4816 tauri: refactor: `cargo clippy --fix`
  packages/target-tauri/src-tauri/src/i18n/commands.rs
  packages/target-tauri/src-tauri/src/menus/main_menu.rs
  packages/target-tauri/src-tauri/src/settings.rs
Labels: Runtime: Tauri

#4818 en fallback for tauri translation fn
  CHANGELOG.md
  packages/target-tauri/src-tauri/src/i18n/commands.rs
Labels: Runtime: Tauri

#4825 tauri: refactor: rename `locale_direction`
  packages/target-tauri/src-tauri/src/i18n/commands.rs
Labels: Runtime: Tauri

#4837 tauri: refactor: reduce `if let` nesting
  packages/target-tauri/src-tauri/src/html_window/mod.rs
Labels: Runtime: Tauri

#4845 test: reduce E2E test flakiness (once more)
  packages/e2e-tests/playwright-helper.ts
  packages/e2e-tests/tests/basic-functionality.spec.ts
Labels: tests

#4848 test: add & fix `no-floating-promises` lint rule
  packages/e2e-tests/.eslintrc.cjs
  packages/e2e-tests/playwright-helper.ts
  packages/e2e-tests/tests/basic-functionality.spec.ts
Labels: tests

#4740 tauri: webxdc
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  packages/frontend/scss/message/_message.scss
  packages/frontend/src/components/RuntimeAdapter.tsx
  packages/runtime/runtime.ts
  packages/target-electron/runtime-electron/runtime.ts
  packages/target-electron/src/deltachat/webxdc.ts
  packages/target-tauri/package.json
  packages/target-tauri/runtime-tauri/runtime.ts
  packages/target-tauri/src-tauri/Cargo.toml
  packages/target-tauri/src-tauri/build.rs
  packages/target-tauri/src-tauri/capabilities/main-window.toml
  packages/target-tauri/src-tauri/capabilities/webxdc.toml
  packages/target-tauri/src-tauri/src/html_window/email_scheme.rs
  packages/target-tauri/src-tauri/src/html_window/mod.rs
  packages/target-tauri/src-tauri/src/lib.rs
  packages/target-tauri/src-tauri/src/menus/help_menu.rs
  packages/target-tauri/src-tauri/src/menus/html_window_menu.rs
  packages/target-tauri/src-tauri/src/menus/main_menu.rs
  packages/target-tauri/src-tauri/src/menus/menu_action.rs
  packages/target-tauri/src-tauri/src/menus/mod.rs
  packages/target-tauri/src-tauri/src/menus/webxdc_menu.rs
  packages/target-tauri/src-tauri/src/settings.rs
  packages/target-tauri/src-tauri/src/state/app.rs
  packages/target-tauri/src-tauri/src/state/deltachat.rs
  packages/target-tauri/src-tauri/src/state/main_window_channels.rs
  packages/target-tauri/src-tauri/src/state/mod.rs
  packages/target-tauri/src-tauri/src/state/webxdc_instances.rs
  packages/target-tauri/src-tauri/src/util/mod.rs
  packages/target-tauri/src-tauri/src/util/truncate_text.rs
  packages/target-tauri/src-tauri/src/webxdc/commands.rs
  packages/target-tauri/src-tauri/src/webxdc/data_storage.rs
  packages/target-tauri/src-tauri/src/webxdc/error.rs
  packages/target-tauri/src-tauri/src/webxdc/icon_scheme.rs
  packages/target-tauri/src-tauri/src/webxdc/mod.rs
  packages/target-tauri/src-tauri/src/webxdc/webxdc_scheme.rs
  packages/target-tauri/webxdc-js-implementation/tsconfig.json
  packages/target-tauri/webxdc-js-implementation/webxdc.ts
  pnpm-lock.yaml
Labels: Runtime: Tauri

#4843 tauri: fix: handle Ctrl+C gracefully
  packages/target-tauri/src-tauri/src/lib.rs
Labels: Runtime: Tauri

#4861 tauri: hardening: remove unnecessary `webxdc:` src
  packages/target-tauri/src-tauri/src/webxdc/webxdc_scheme.rs
Labels: webxdc, Runtime: Tauri

#4856 tauri: refactor: webxdc: rename __TEMPLATE strs
  packages/target-tauri/src-tauri/src/webxdc/webxdc_scheme.rs
  packages/target-tauri/webxdc-js-implementation/webxdc.ts
Labels: refactor, Runtime: Tauri

#4863 tauri: refactor: separate main window webxdc commands
  packages/target-tauri/src-tauri/src/lib.rs
  packages/target-tauri/src-tauri/src/webxdc/commands.rs
  packages/target-tauri/src-tauri/src/webxdc/commands_main_window.rs
  packages/target-tauri/src-tauri/src/webxdc/mod.rs
Labels: refactor, webxdc, Runtime: Tauri

#4858 tauri: fix: webxdc CSP bypass via PDF on Windows
  packages/target-tauri/src-tauri/src/webxdc/webxdc_scheme.rs
Labels: Runtime: Tauri

#4852 tauri: hardening: disable WebRTC & DNS prefetch on Win
  CHANGELOG.md
  packages/target-tauri/src-tauri/src/webxdc/commands_main_window.rs
Labels: bug, webxdc, OS: Windows, Runtime: Tauri

#4877 slight gradients for avatars for a more modern look
  CHANGELOG.md
  packages/frontend/scss/message/_message.scss
  packages/frontend/scss/misc/_avatar.scss
  packages/frontend/src/components/Avatar/index.tsx
  packages/frontend/src/components/LargeProfileImage/index.tsx
  packages/frontend/src/components/LargeProfileImage/styles.module.scss
  packages/frontend/src/components/message/Message.tsx
  packages/frontend/themes/_themebase.scss
Labels: ui/ux, polish

#4890 fix double escape bypasses dialog attribute `canEscapeKeyClose={false}`
  CHANGELOG.md
  packages/frontend/src/components/Dialog/Dialog.tsx
Labels: bug

#4888 migrate account mute state to new is_muted config option
  CHANGELOG.md
  packages/frontend/src/stores/accountNotifications.ts
Labels: technical debt

#4891 remove unexpected horizontal scroll in gallery
  CHANGELOG.md
  packages/frontend/src/components/Gallery.tsx
Labels: bug, ui/ux

#4886 Share contact from profile dialog
  CHANGELOG.md
  images/icons/ios_share.svg
  images/icons/ios_share_modified.svg
  images/icons/more_vert.svg
  images/icons/share.svg
  packages/frontend/src/components/Icon/index.tsx
  packages/frontend/src/components/dialogs/ViewProfile/index.tsx
  packages/frontend/src/hooks/chat/useCreateDraftMesssage.ts
Labels: enhancement, ui/ux

#4894 fix Member list is not refreshed when it changes while you look at the group profile
  CHANGELOG.md
  packages/frontend/src/components/dialogs/ViewGroup.tsx
Labels: bug

#4883 Add separators to the context menu
  CHANGELOG.md
  packages/frontend/scss/misc/_context_menu.scss
  packages/frontend/src/components/AccountListSidebar/AccountItem.tsx
  packages/frontend/src/components/ContextMenu.tsx
  packages/frontend/src/components/ThreeDotMenu.tsx
  packages/frontend/src/components/chat/ChatListContextMenu.tsx
  packages/frontend/src/components/message/Message.tsx
Labels: enhancement, ui/ux, polish

#4893 add support for invite links to create chat dialog
  CHANGELOG.md
  packages/frontend/src/components/dialogs/CreateChat/index.tsx
  packages/frontend/src/components/helpers/PseudoListItem.tsx
Labels: enhancement, ui/ux

#4874 tauri: hardening: webxdc: disable all web permissions
  bin/webxdc-check-permissions-policy-count.js
  packages/target-tauri/package.json
  packages/target-tauri/src-tauri/src/webxdc/webxdc_scheme.rs
Labels: webxdc, Runtime: Tauri
