Repository deltachat/deltachat-desktop, pull requests merged in 2025-04, with the labels that each got.

#4885 Avoid wrapping of reactions
  CHANGELOG.md
  packages/frontend/src/components/Reactions/index.tsx
  packages/frontend/src/components/message/Message.tsx
Labels: bug

#4895 fix order when sending multiple files at once
  CHANGELOG.md
  packages/frontend/src/components/composer/menuAttachment.tsx
  packages/frontend/src/components/message/MessageListAndComposer.tsx
Labels: bug

#4902 hide 'show classic email' for chatmail, move down otherwise
  CHANGELOG.md
  packages/frontend/src/components/Settings/Advanced.tsx
  packages/frontend/src/components/Settings/ImapFolderHandling.tsx
  packages/frontend/src/components/Settings/ShowClassicEmail.tsx
Labels: catching up with other clients

#4903 tauri: refactor: remove unnecessary `Arc`s
  packages/target-tauri/src-tauri/src/html_window/mod.rs
  packages/target-tauri/src-tauri/src/state/app.rs
  packages/target-tauri/src-tauri/src/state/html_email_instances.rs
  packages/target-tauri/src-tauri/src/state/main_window_channels.rs
  packages/target-tauri/src-tauri/src/state/translations.rs
  packages/target-tauri/src-tauri/src/state/webxdc_instances.rs
Labels: refactor, Runtime: Tauri

#4906 fix clippy lint
  packages/target-tauri/src-tauri/src/lib.rs
  packages/target-tauri/src-tauri/src/webxdc/webxdc_scheme.rs
Labels: Runtime: Tauri

#4905 tauri: perf: move "get RPC channel" out of loop
  packages/target-tauri/src-tauri/src/lib.rs
  packages/target-tauri/src-tauri/src/state/deltachat.rs
Labels: Runtime: Tauri

#4908 tauri: add cli interface `--help`, `--version`, and developer options (like `--dev-mode`)
  CHANGELOG.md
  Cargo.lock
  packages/target-tauri/runtime-tauri/runtime.ts
  packages/target-tauri/src-tauri/Cargo.toml
  packages/target-tauri/src-tauri/build.rs
  packages/target-tauri/src-tauri/capabilities/main-window.toml
  packages/target-tauri/src-tauri/src/cli.rs
  packages/target-tauri/src-tauri/src/lib.rs
  packages/target-tauri/src-tauri/src/run_config.rs
Labels: Runtime: Tauri

#4919 tauri: refactor: fix all clippy warnings
  packages/target-tauri/src-tauri/src/html_window/mod.rs
  packages/target-tauri/src-tauri/src/state/menu_manager.rs
  packages/target-tauri/src-tauri/src/webxdc/commands_main_window.rs
Labels: refactor, Runtime: Tauri

#4917 tauri: refactor: fix var name ({html,webxdc}_window)
  packages/target-tauri/src-tauri/src/menus/webxdc_menu.rs
Labels: refactor, Runtime: Tauri

#4925 tauri: add `--watch-translations` cli flag
  CHANGELOG.md
  Cargo.lock
  packages/target-tauri/runtime-tauri/runtime.ts
  packages/target-tauri/src-tauri/Cargo.toml
  packages/target-tauri/src-tauri/src/cli.rs
  packages/target-tauri/src-tauri/src/i18n/load.rs
  packages/target-tauri/src-tauri/src/i18n/mod.rs
  packages/target-tauri/src-tauri/src/lib.rs
  packages/target-tauri/src-tauri/src/menus/mod.rs
  packages/target-tauri/src-tauri/src/run_config.rs
  packages/target-tauri/src-tauri/src/state/main_window_channels.rs
  packages/target-tauri/src-tauri/src/util/fs_watcher.rs
  packages/target-tauri/src-tauri/src/util/mod.rs
Labels: Runtime: Tauri

#4924 fix typo in CONFIG_MUTED
  CHANGELOG.md
  packages/frontend/src/stores/accountNotifications.ts
Labels: technical debt

#4922 Tauri: Tray Icon and `--minimized` flag
  CHANGELOG.md
  packages/frontend/src/components/RuntimeAdapter.tsx
  packages/runtime/runtime.ts
  packages/target-browser/runtime-browser/runtime.ts
  packages/target-electron/runtime-electron/runtime.ts
  packages/target-tauri/runtime-tauri/runtime.ts
  packages/target-tauri/src-tauri/Cargo.toml
  packages/target-tauri/src-tauri/build.rs
  packages/target-tauri/src-tauri/capabilities/main-window.toml
  packages/target-tauri/src-tauri/src/cli.rs
  packages/target-tauri/src-tauri/src/html_window/mod.rs
  packages/target-tauri/src-tauri/src/lib.rs
  packages/target-tauri/src-tauri/src/menus/main_menu.rs
  packages/target-tauri/src-tauri/src/menus/mod.rs
  packages/target-tauri/src-tauri/src/menus/tray_menu.rs
  packages/target-tauri/src-tauri/src/menus/webxdc_menu.rs
  packages/target-tauri/src-tauri/src/run_config.rs
  packages/target-tauri/src-tauri/src/settings.rs
  packages/target-tauri/src-tauri/src/state/main_window_channels.rs
  packages/target-tauri/src-tauri/src/state/menu_manager.rs
  packages/target-tauri/src-tauri/src/state/mod.rs
  packages/target-tauri/src-tauri/src/state/tray_manager.rs
  packages/target-tauri/src-tauri/src/tray.rs
  packages/target-tauri/src-tauri/src/webxdc/commands_main_window.rs
Labels: Runtime: Tauri

#4926 tauri: resume from sleep
  CHANGELOG.md
  packages/target-tauri/runtime-tauri/runtime.ts
  packages/target-tauri/src-tauri/src/lib.rs
  packages/target-tauri/src-tauri/src/resume_from_sleep.rs
  packages/target-tauri/src-tauri/src/state/main_window_channels.rs
Labels: Runtime: Tauri

#4927 tauri: hardening: invalid proxy for network isolation
  packages/target-tauri/src-tauri/Cargo.toml
  packages/target-tauri/src-tauri/src/lib.rs
  packages/target-tauri/src-tauri/src/network_isolation_dummy_proxy.rs
  packages/target-tauri/src-tauri/src/webxdc/commands_main_window.rs
  packages/target-tauri/src-tauri/src/webxdc/error.rs
Labels: webxdc, Runtime: Tauri

#4938 tauri: fix: sticker picker previews not working
  CHANGELOG.md
  packages/target-tauri/src-tauri/tauri.conf.json5
Labels: bug, Runtime: Tauri

#4937 tauri: hardening: sanitize paths in dcsticker: & dcblob:
  CHANGELOG.md
  packages/target-tauri/src-tauri/src/blobs.rs
  packages/target-tauri/src-tauri/src/stickers.rs
Labels: Runtime: Tauri

#4943 tauri: fix: emoji picker styles not working (CSP)
  CHANGELOG.md
  packages/target-tauri/src-tauri/tauri.conf.json5
Labels: bug, Runtime: Tauri

#4954 remove now unused stock translations
  packages/frontend/src/stockStrings.ts
Labels: new-core

#4948 tauri: fix: `main_window.show()` on second instance
  CHANGELOG.md
  packages/target-tauri/src-tauri/src/lib.rs
Labels: bug, Runtime: Tauri

#4944 tauri: fix: deny navigation to https://webxdc.localhost
  CHANGELOG.md
  packages/target-tauri/src-tauri/src/html_window/mod.rs
  packages/target-tauri/src-tauri/src/util/mod.rs
  packages/target-tauri/src-tauri/src/util/url_origin.rs
  packages/target-tauri/src-tauri/src/webxdc/commands_main_window.rs
Labels: webxdc, OS: Windows, Runtime: Tauri

#4957 tauri: test: fix `UrlOriginExtension` example, add test
  packages/target-tauri/src-tauri/src/util/url_origin.rs
Labels: tests, Runtime: Tauri

#4960 tauri: refactor: webxdc: `WebviewUrl::CustomProtocol`
  packages/target-tauri/src-tauri/src/webxdc/commands_main_window.rs
Labels: refactor, webxdc, Runtime: Tauri

#4965 tauri: fix: use current locale in help window
  CHANGELOG.md
  packages/target-tauri/src-tauri/src/help_window.rs
  packages/target-tauri/src-tauri/src/menus/main_menu.rs
Labels: bug, Runtime: Tauri

#4947 tauri: refactor: add comment about webxdc window bounds
  packages/target-tauri/src-tauri/src/lib.rs
Labels: webxdc, Runtime: Tauri

#4958 tauri: refactor: fix CRLF -> LF in all files
  packages/target-tauri/src-tauri/capabilities/html-email-viewer-header.toml
  packages/target-tauri/src-tauri/capabilities/main-window.toml
  packages/target-tauri/src-tauri/capabilities/webxdc.toml
  packages/target-tauri/src-tauri/src/network_isolation_dummy_proxy.rs
  packages/target-tauri/src-tauri/src/util/sanitization.rs
  packages/target-tauri/src-tauri/src/util/url_origin.rs
Labels: refactor, Runtime: Tauri

#4981 fix: error dialog not showing on `setConfigFromQr`
  CHANGELOG.md
  packages/frontend/src/hooks/useProcessQr.ts
Labels: bug

#4966 tauri: refactor: rewrite a helper fn with trait
  packages/target-tauri/src-tauri/src/help_window.rs
  packages/target-tauri/src-tauri/src/i18n/commands.rs
  packages/target-tauri/src-tauri/src/util/sanitization.rs
Labels: refactor, Runtime: Tauri

#4941 tauri: fix: sticker picker previews not working, again
  packages/target-tauri/runtime-tauri/runtime.ts
Labels: bug, Runtime: Tauri

#4935 tauri: feat: add taskbar "unread" badge on Windows
  CHANGELOG.md
  images/tray/unread-badge.png
  images/tray/unread-badge.svg
  packages/target-tauri/runtime-tauri/runtime.ts
  packages/target-tauri/src-tauri/capabilities/main-window.toml
  packages/target-tauri/src-tauri/tauri.conf.json5
Labels: OS: Windows, Runtime: Tauri

#4794 Fix setting profile picture
  packages/frontend/src/components/ImageCropper/index.tsx
  packages/frontend/src/components/ImageSelector/index.tsx
  packages/frontend/src/components/dialogs/CreateChat/index.tsx
  packages/frontend/src/components/dialogs/EditProfileDialog/ProfileImageSelector.tsx
  packages/frontend/src/components/dialogs/ViewGroup.tsx
  packages/frontend/src/utils/copyToBlobDir.ts
  packages/target-tauri/src-tauri/src/blobs.rs
Labels: new-core, Runtime: Tauri

#4754 Autostart on Tauri
  CHANGELOG.md
  Cargo.lock
  _locales/_untranslated_en.json
  packages/frontend/src/components/Settings/Advanced.tsx
  packages/frontend/src/components/Settings/DesktopSettingsSwitch.tsx
  packages/runtime/runtime.ts
  packages/shared/shared-types.d.ts
  packages/shared/state.ts
  packages/target-browser/runtime-browser/runtime.ts
  packages/target-electron/runtime-electron/runtime.ts
  packages/target-tauri/Development.md
  packages/target-tauri/runtime-tauri/runtime.ts
  packages/target-tauri/src-tauri/Cargo.toml
  packages/target-tauri/src-tauri/build.rs
  packages/target-tauri/src-tauri/capabilities/main-window.toml
  packages/target-tauri/src-tauri/src/autostart.rs
  packages/target-tauri/src-tauri/src/cli.rs
  packages/target-tauri/src-tauri/src/lib.rs
  packages/target-tauri/src-tauri/src/settings.rs
Labels: Runtime: Tauri

#5007 tauri: refactor: fix some clippy warnings
  packages/target-tauri/src-tauri/src/lib.rs
  packages/target-tauri/src-tauri/src/settings.rs
  packages/target-tauri/src-tauri/src/themes/cli.rs
  packages/target-tauri/src-tauri/src/themes/themes.rs
Labels: refactor, Runtime: Tauri

#5008 fix: error message not being shown on RPC calls
  CHANGELOG.md
  packages/frontend/src/components/dialogs/EditAccountAndPasswordDialog.tsx
  packages/frontend/src/components/dialogs/SetupMultiDevice/ReceiveBackupProgressDialog.tsx
  packages/frontend/src/components/helpers/unknownErrorToString.ts
  packages/frontend/src/components/screens/CrashScreen.tsx
  packages/frontend/src/components/screens/RecoverableCrashScreen.tsx
  packages/frontend/src/components/screens/WelcomeScreen/ImportBackupProgressDialog.tsx
  packages/frontend/src/components/screens/WelcomeScreen/index.tsx
  packages/frontend/src/hooks/useProcessQr.ts
Labels: bug

#5005 tauri: refactor: fix error fmt interpolation
  packages/target-tauri/src-tauri/src/state/menu_manager.rs
Labels: refactor, Runtime: Tauri

#5006 tauri: feat: custom chat background image
  CHANGELOG.md
  Cargo.lock
  packages/frontend/src/components/message/MessageListAndComposer.tsx
  packages/shared/shared-types.d.ts
  packages/target-tauri/runtime-tauri/runtime.ts
  packages/target-tauri/src-tauri/Cargo.toml
  packages/target-tauri/src-tauri/build.rs
  packages/target-tauri/src-tauri/capabilities/main-window.toml
  packages/target-tauri/src-tauri/src/chat_background_image.rs
  packages/target-tauri/src-tauri/src/lib.rs
  packages/target-tauri/src-tauri/src/runtime_info.rs
  packages/target-tauri/src-tauri/tauri.conf.json5
Labels: enhancement, Runtime: Tauri

#5011 follow up to #5006 (fix chat background in tauri on macOS and linux)
  packages/target-tauri/src-tauri/src/runtime_info.rs
Labels: Runtime: Tauri

#5010 tauri: refactor: fix warning on `setOverlayIcon()`
  packages/target-tauri/runtime-tauri/runtime.ts
Labels: refactor, Runtime: Tauri

#4995 fix: some untranslated strings, add tx type safety
  CHANGELOG.md
  _locales/_untranslated_en.json
  packages/frontend/src/components/AppPicker/index.tsx
  packages/frontend/src/components/chat/ChatList.tsx
  packages/frontend/src/components/message/Link.tsx
  packages/frontend/src/components/message/MessageMetaData.tsx
  packages/frontend/src/hooks/useProcessQr.ts
  packages/frontend/src/types-app.d.ts
  packages/shared/localize.ts
Labels: translations

#5013 improvement: `Cmd + F` to focus search on macOS
  CHANGELOG.md
  packages/frontend/src/components/KeyboardShortcutHint.tsx
  packages/frontend/src/keybindings.ts
Labels: enhancement, OS: Mac

#4869 deny/disable link preview on long-press on macOS
  CHANGELOG.md
  packages/target-tauri/src-tauri/src/help_window.rs
  packages/target-tauri/src-tauri/src/html_window/mod.rs
  packages/target-tauri/src-tauri/src/lib.rs
  packages/target-tauri/src-tauri/src/webxdc/commands_main_window.rs
  packages/target-tauri/src-tauri/tauri.conf.json5
Labels: Runtime: Tauri

#5012 tauri: fix: some styles not loading (CSP)
  CHANGELOG.md
  packages/frontend/scss/_global.scss
  packages/frontend/static/main.html
  packages/target-browser/static/test.html
  packages/target-tauri/src-tauri/tauri.conf.json5
  packages/target-tauri/static/tauri_main.html
Labels: bug, Runtime: Tauri

#5023 improvement: a11y: announce msg "edited" change
  CHANGELOG.md
  packages/frontend/scss/message/_message.scss
  packages/frontend/scss/message/_metadata.scss
  packages/frontend/src/components/message/MessageMetaData.tsx
Labels: accessibility

#5035 fix: a11y: add `aria-label` for "Jump Down"
  CHANGELOG.md
  packages/frontend/src/components/message/MessageList.tsx
Labels: accessibility

#5038 fix: a11y: alt text for QR invite image
  CHANGELOG.md
  packages/frontend/src/components/dialogs/QrCode.tsx
Labels: accessibility

#5028 improvement: a11y: search: separate tabindex divs
  CHANGELOG.md
  packages/frontend/src/components/chat/ChatList.tsx
Labels: accessibility

#5021 improvement: a11y: `aria-live` for message status
  CHANGELOG.md
  packages/frontend/src/components/message/MessageMetaData.tsx
Labels: accessibility

#5055 fix: add `for` for `DeltaInput` `<label>`s
  CHANGELOG.md
  packages/frontend/src/components/Login-Styles.tsx
Labels: accessibility

#5048 refactor: rename and comment vars in useDraft
  packages/frontend/src/components/composer/Composer.tsx
  packages/frontend/src/components/message/MessageListAndComposer.tsx
Labels: refactor

#5040 fix: a11y: `role='tablist'` for accounts list
  CHANGELOG.md
  packages/frontend/src/components/AccountListSidebar/AccountItem.tsx
  packages/frontend/src/components/AccountListSidebar/AccountListSidebar.tsx
Labels: accessibility
